
<div class="jumbotron">
    <h1 class="display-4">{{{title}}}</h1>
    <hr class="my-4">
    <p>{{{desc}}}</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>


<table class="table">
  <caption>List of users</caption>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Detalles</th>
    </tr>
  </thead>
  <tbody>
    {{#each list}}
    <tr>
      <th scope="row">{{@key}}</th>
      <td><a type="button" href="/detalles/{{@key}}" class="btn btn-info">Informacion</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>
